html,
body {
  width: 100%;
  height: 100%;
  margin: 0;

}


div {
 margin-left: 53%;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 211, 196);
}

/* canvas {
  background-color: rgb(223, 163, 163);
} */
