html,
body {
  width: 100%;
  height: 100%;
  margin: 0;

}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 7, 114);
}

canvas {
  background-color: rgb(39, 39, 39);
}
